<div class = "container">
  <div class = "row">
    <form name = "registerForm" class = "offset-s1 col s10 offset-s1">
      <h3>Register</h3>
        <div ng-if ="registerForm.username.$touched" ng-messages = "registerForm.username.$error">
          <div ng-message = "required" class = "error">Username is required</div>
        </div>
        <div class = "input-field">
          <label for = "username">Username</label>  
          <input
              name = "username"
              type = "text"
              required = "required"
              ng-model = "authCtrl.user.username"
          />
        </div> 
      
        <div ng-if= "registerForm.email.$touched" ng-messages = "registerForm.email.$error" class = "error">
          <div ng-message = "email" class> Not a valid email</div>
          <div ng-message = "required">Email is required</div>
        </div>
        <div class = "input-field">
          <label for = "email">Email</label>
          <input 
              name = "email"
              type="email"
              required="required"
              ng-model = "authCtrl.user.email"
          />
        </div>
      
        <div ng-if="registerForm.password.$touched" ng-messages = "registerForm.password.$error" class = "error">
          <div ng-message = "required">Password is required</div>
          <div ng-message = "minlength">Password must be 8 characters long</div>
        </div>
        <div class = "input-field">
          <label for = "password">Password</label>
          <input
              name = "password"
              type = "password"
              required = "required"
              ng-model = "authCtrl.user.password"
              minlength = "8"
          />
        </div>
      
        <div ng-if="registerForm.passwordConfirmation.$touched" ng-messages ="registerForm.passwordConfirmation.$error" class = "error">
          <div ng-message = "requried">Password confirmation is required</div>
          <div ng-message = "pwdConfirmation"> Password confirmation must match password</div>
        </div>
        <div class = "input-field">
          <label for = "passwordConfirmation">Password Confirmation</label>
          <input
              name = "passwordConfirmation"
              type = "password"
              required = "required"
              ng-model = "authCtrl.user.passwordConfirmation"
              pwd-confirmation = "authCtrl.user.password"
          />
        </div>

      <button  class="waves-effect waves-light btn" type = "submit" ng-click = "authCtrl.register()" ng-disabled = "!registerForm.$valid">Submit</button>
    </form>
  </div>
</div> <!-- closing tag for container -->