.streamCard{
	padding-top: 1em;
	padding-bottom: 5em;
	border-top: 1px solid rgb(220,220,220);
}

.streamCard:hover{
	color: white;
	background-color: purple;
}

.sidebarStreamList{
	height: 550px;
	overflow-y: scroll;
}

.twitchVideoPlayer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.twitchVideoPlayer twitch-video-component iframe {
	position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}