.welcomeHeader h1, .loginText{
	text-align: center;
	font-weight: bold;
}


.welcomeNews{
	margin-bottom: 0;
}

.descriptionText, .streamsText, .newsText{
	width: 50%;
	text-align: center;
}

.welcomeDescription, .welcomeStreams, .welcomeNews, .welcomeLogin{
	padding: 2em 2em 2em;
}

.welcomeLogin{
	background-image: url("jeffFlail.gif");
	background-repeat:no-repeat;
	background-size: cover;
	width: 100%;
	padding-top: 50%;
}

.textDetails:nth-child(even){
	float: right;
}

.loginText{
	padding: 5% 0%;
}

.twitchLogo, .bingLogo, .gbLogo{
	width: 400px;
	height: 400px;
}

.bingLogo img, .twitchLogo img, .gbLogo img{
	width: 100%;
	height: 100%;
}
